*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (min-width:1047px) and (max-width:1097px){
    header{
        height: 16vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        height: 10vh;
        width: 80vw;
        border: 2px solid #b0b0b0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        backdrop-filter: blur(30px);
        border-radius: 28px 28px 28px 28px;
    }
    .sidenav{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .logo{
        font-size: 20px;
        font-weight: 700;
        color: white;
    }
    .nav_links{
        height: 100%;
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav_links>a{
        height: 6vh;
        width: 8vw;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        align-content: center;
        font-weight: 600;
        color: white;
        border: 2px solid #ff16f4;
        border-radius: 18px 18px 18px 18px;
    }
    .nav_links>a:hover{
        background-color: #ff16f4;
        color: black;
        font-weight: 600;
        box-shadow: 0px 4px 10px #ff16f4;
        transition-duration: 300ms;
    }
    .Resume{
        height: 6vh;
        width: 8vw;
        border-radius: 18px 18px 18px 18px;
        display: inline-block;
        text-align: center;
        align-content: center;
        text-decoration: none;
        border: 1px solid #ff16f4;
        background-color: #ff16f4;
        color: black;
        font-weight: 600;
    }
    .Resume:hover{
        transition-duration: 150ms;
        box-shadow: 0px 6px 10px #ff16f4;
    }
    section{
        height: 520vh;
        width: 100%;
    }
    .About{
        height: 90vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .About_img{
        height: 80vh;
        width: 30vw;
    }
    .About_img>img{
        height: 100%;
        width: 100%;
        border-radius: 100px 100px 100px 100px;
    }
    .About_info{
        height: 70vh;
        width: 40vw;
    }
    .name{
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
    .job{
        font-size: 28px;
        font-weight: 700;
        color: #ff16f4;
    }
    .info{
        height: 19vh;
        width: 100%;
    }
    .info>p{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    .profiles{
        text-align: center;
    }
    .github_link{
        font-size: 28px;
        color: white;
    }
    .linkedin_link{
        text-decoration: none;
        font-size: 28px;
        color: #5676ff;
    }
    .x_link{
        text-decoration: none;
        font-size: 28px;
        color: white;
    }
    .tech_stack{
        height: 35vh;
        align-content: center;
    }
    .tech_stack>p{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: #ff16f4;
    }
    .stack{
        height: 26vh;
        display: grid;
        place-content: center;
        gap: 4px;
        grid-template-columns: auto auto auto auto;
    }
    .stack>button{
        height: 12vh;
        width: 6vw;
        text-align: center;
        align-content: center;
        background-color: black;
        color: white;
        font-weight: 600;
        border-radius: 8px 8px 8px 8px;
    }
    .html{
        text-align: center;
        border: 2px solid orange;
    }
    .html>img{
        height: 6vh;
    }
    .html:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px orange;
    }
    .css{
        border: 2px solid blue;
    }
    .css>img{
        height: 5vh;
    }
    .css:hover{
        transition-duration: 300ms;
        box-shadow: 0px 8px 10px #2f45ff;
    }
    .javascript{
        border: 2px solid yellow;
        font-size: 11px;
    }
    .javascript>img{
        height: 6vh;
    }
    .javascript:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px #ffff00;
    }
    .bootstrap{
        border: 2px solid #ad00b1;
        font-size: 11px;
    }
    .bootstrap>img{
        height: 5vh;
    }
    .bootstrap:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px purple;
    }
    .tailwind{
        border: 2px solid lightskyblue;
        font-size: 10px;
    }
    .tailwind>img{
        height: 4vh;
    }
    .tailwind:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px lightskyblue;
    }
    .php{
        border: 2px solid plum;
    }
    .php>img{
        height: 4vh;
    }
    .php:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px plum;
    }
    .mysql{
        border: 2px solid lightskyblue;
    }
    .mysql>img{
        height: 6vh;
    }
    .mysql:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px lightskyblue;
    }
    .services{
        height: 80vh;
        width: 100%;
        align-content: center;
    }
    .services_heading{
        color: #ff16f4;
        font-weight: 700;
        text-align: center;
        font-size: 34px;
    }
    .my_offer{
        height: 60vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .the_offers{
        height: 20vh;
        width: 30vw;
        text-align: center;
        align-content: center;
        border-radius: 8px 8px 8px 8px;
    }
    .the_offers:hover{
        transition-duration: 300ms;
        box-shadow: 2px 1px 10px #ff16f4;
    }
    .the_offers>i{
        font-size: 20px;
        color: #ff16f4;
        text-align: center;
    }
    .the_offers>p{
        font-weight: 600;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    .the_offers>div{
        font-size: 13px;
        color: white;
    }
    .projects{
        height: 100vh;
        width: 100%;
        align-content: center;
    }
    .projects_heading{
        font-size: 34px;
        color: #ff16f4;
        font-weight: 700;
        text-align: center;
    }
    .projects_div{
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .projects_div>div{
        height: 67vh;
        width: 40vw;
    }
    .project_name{
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        color: #ff16f4;
    }
    .project_img{
        height: 40vh;
        width: 100%;
    }
    .project_info{
        color: white;
    }
    .project_stack{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: white;
        margin-top: 4px;
    }
    .project_stack>p{
        font-size: 13px;
    }
    .stack_heading{
        font-weight: 700;
        color: #ff16f4;
    }
    .project_links{
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;
        border: 1px solid;
    }
    .github_repo{
        height: 5vh;
        width: 10vw;
        transition-duration: 300ms;
        text-align: center;
        align-content: center;
        color: black;
        background-color: white;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 13px;
    }
    .github_repo:hover{
        border: 1px solid #b0b0b0;
        background-color: #b0b0b0;
    }
    .demo{
        background-color: #ff16f4;
        color: black;
        display: inline-block;
        width: 10vw;
        height: 5vh;
        text-decoration: none;
        text-align: center;
        align-content: center;
        border-radius: 8px 8px 8px 8px;
    }
    .demo:hover{
        transition-duration: 300ms;
        border: 1px solid purple;
        background-color: purple;
    }
    .certifications{
        height: 150vh;
        width: 100%;
    }
    .certifications_heading{
        color: #ff16f4;
        font-weight: 700;
        font-size: 34px;
        text-align: center;
    }
    .certifications_div{
        height: 140vh;
        display: grid;
        place-content: center;
    }
    .freecodecamp_cert{
        height: 120vh;
        width: 50vw;
    }
    .contacts{
        height: 60vh;
        width: 100%;
    }
    .contacts_heading{
        font-size: 34px;
        font-weight: 700;
        color: #ff16f4;
        text-align: center;
    }
    .socials{
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .connect{
        height: 20vh;
        width: 20vw;
        align-content: center;
    }
    .connect>p{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: #ff16f4;
    }
    .connect>div{
        height: 10vh;
        text-align: center;
        align-content: center;
    }
    .email_me{
        height: 20vh;
        width: 20vw;
        align-content: center;
    }
    .email_me>p{
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        color: #ff16f4;
    }
    .email_me>div{
        text-align: center;
        color: white;
    }
}
@media screen and (min-width:1098px) and (max-width:1148px){
    header{
        height: 16vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        height: 10vh;
        width: 80vw;
        border: 2px solid #b0b0b0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        backdrop-filter: blur(30px);
        border-radius: 28px 28px 28px 28px;
    }
    .sidenav{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .logo{
        font-size: 20px;
        font-weight: 700;
        color: white;
    }
    .nav_links{
        height: 100%;
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav_links>a{
        height: 6vh;
        width: 8vw;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        align-content: center;
        font-weight: 600;
        color: white;
        border: 2px solid #ff16f4;
        border-radius: 18px 18px 18px 18px;
    }
    .nav_links>a:hover{
        background-color: #ff16f4;
        color: black;
        font-weight: 600;
        box-shadow: 0px 4px 10px #ff16f4;
        transition-duration: 300ms;
    }
    .Resume{
        height: 6vh;
        width: 8vw;
        border-radius: 18px 18px 18px 18px;
        display: inline-block;
        text-align: center;
        align-content: center;
        text-decoration: none;
        border: 1px solid #ff16f4;
        background-color: #ff16f4;
        color: black;
        font-weight: 600;
    }
    .Resume:hover{
        transition-duration: 150ms;
        box-shadow: 0px 6px 10px #ff16f4;
    }
    section{
        height: 520vh;
        width: 100%;
    }
    .About{
        height: 90vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .About_img{
        height: 80vh;
        width: 30vw;
    }
    .About_img>img{
        height: 100%;
        width: 100%;
        border-radius: 100px 100px 100px 100px;
    }
    .About_info{
        height: 70vh;
        width: 40vw;
    }
    .name{
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
    .job{
        font-size: 28px;
        font-weight: 700;
        color: #ff16f4;
    }
    .info{
        height: 19vh;
        width: 100%;
    }
    .info>p{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    .profiles{
        text-align: center;
    }
    .github_link{
        font-size: 28px;
        color: white;
    }
    .linkedin_link{
        text-decoration: none;
        font-size: 28px;
        color: #5676ff;
    }
    .x_link{
        text-decoration: none;
        font-size: 28px;
        color: white;
    }
    .tech_stack{
        height: 35vh;
        align-content: center;
    }
    .tech_stack>p{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: #ff16f4;
    }
    .stack{
        height: 26vh;
        display: grid;
        place-content: center;
        gap: 4px;
        grid-template-columns: auto auto auto auto;
    }
    .stack>button{
        height: 12vh;
        width: 6vw;
        text-align: center;
        align-content: center;
        background-color: black;
        color: white;
        font-weight: 600;
        border-radius: 8px 8px 8px 8px;
    }
    .html{
        text-align: center;
        border: 2px solid orange;
    }
    .html>img{
        height: 6vh;
    }
    .html:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px orange;
    }
    .css{
        border: 2px solid blue;
    }
    .css>img{
        height: 5vh;
    }
    .css:hover{
        transition-duration: 300ms;
        box-shadow: 0px 8px 10px #2f45ff;
    }
    .javascript{
        border: 2px solid yellow;
        font-size: 11px;
    }
    .javascript>img{
        height: 6vh;
    }
    .javascript:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px #ffff00;
    }
    .bootstrap{
        border: 2px solid #ad00b1;
        font-size: 11px;
    }
    .bootstrap>img{
        height: 5vh;
    }
    .bootstrap:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px purple;
    }
    .tailwind{
        border: 2px solid lightskyblue;
        font-size: 10px;
    }
    .tailwind>img{
        height: 5vh;
    }
    .tailwind:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px lightskyblue;
    }
    .php{
        border: 2px solid plum;
    }
    .php>img{
        height: 5vh;
    }
    .php:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px plum;
    }
    .mysql{
        border: 2px solid lightskyblue;
    }
    .mysql>img{
        height: 6vh;
    }
    .mysql:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px lightskyblue;
    }
    .services{
        height: 80vh;
        width: 100%;
        align-content: center;
    }
    .services_heading{
        color: #ff16f4;
        font-weight: 700;
        text-align: center;
        font-size: 34px;
    }
    .my_offer{
        height: 60vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .the_offers{
        height: 20vh;
        width: 30vw;
        text-align: center;
        align-content: center;
        border-radius: 8px 8px 8px 8px;
    }
    .the_offers:hover{
        transition-duration: 300ms;
        box-shadow: 2px 1px 10px #ff16f4;
    }
    .the_offers>i{
        font-size: 20px;
        color: #ff16f4;
        text-align: center;
    }
    .the_offers>p{
        font-weight: 600;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    .the_offers>div{
        font-size: 13px;
        color: white;
    }
    .projects{
        height: 100vh;
        width: 100%;
        align-content: center;
    }
    .projects_heading{
        font-size: 34px;
        color: #ff16f4;
        font-weight: 700;
        text-align: center;
    }
    .projects_div{
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .projects_div>div{
        height: 67vh;
        width: 40vw;
    }
    .project_name{
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        color: #ff16f4;
    }
    .project_img{
        height: 40vh;
        width: 100%;
    }
    .project_info{
        color: white;
    }
    .project_stack{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: white;
        margin-top: 4px;
    }
    .project_stack>p{
        font-size: 13px;
    }
    .stack_heading{
        font-weight: 700;
        color: #ff16f4;
    }
    .project_links{
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;
        border: 1px solid;
    }
    .github_repo{
        height: 5vh;
        width: 10vw;
        transition-duration: 300ms;
        text-align: center;
        align-content: center;
        color: black;
        background-color: white;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 13px;
    }
    .github_repo:hover{
        border: 1px solid #b0b0b0;
        background-color: #b0b0b0;
    }
    .demo{
        background-color: #ff16f4;
        color: black;
        display: inline-block;
        width: 10vw;
        height: 5vh;
        text-decoration: none;
        text-align: center;
        align-content: center;
        border-radius: 8px 8px 8px 8px;
    }
    .demo:hover{
        transition-duration: 300ms;
        border: 1px solid purple;
        background-color: purple;
    }
    .certifications{
        height: 150vh;
        width: 100%;
    }
    .certifications_heading{
        color: #ff16f4;
        font-weight: 700;
        font-size: 34px;
        text-align: center;
    }
    .certifications_div{
        height: 140vh;
        display: grid;
        place-content: center;
    }
    .freecodecamp_cert{
        height: 120vh;
        width: 50vw;
    }
    .contacts{
        height: 60vh;
        width: 100%;
    }
    .contacts_heading{
        font-size: 34px;
        font-weight: 700;
        color: #ff16f4;
        text-align: center;
    }
    .socials{
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .connect{
        height: 20vh;
        width: 20vw;
        align-content: center;
    }
    .connect>p{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: #ff16f4;
    }
    .connect>div{
        height: 10vh;
        text-align: center;
        align-content: center;
    }
    .email_me{
        height: 20vh;
        width: 20vw;
        align-content: center;
    }
    .email_me>p{
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        color: #ff16f4;
    }
    .email_me>div{
        text-align: center;
        color: white;
    }
}
@media screen and (min-width:1149px) and (max-width:1199px){
    header{
        height: 16vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        height: 10vh;
        width: 80vw;
        border: 2px solid #b0b0b0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        backdrop-filter: blur(30px);
        border-radius: 28px 28px 28px 28px;
    }
    .sidenav{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .logo{
        font-size: 20px;
        font-weight: 700;
        color: white;
    }
    .nav_links{
        height: 100%;
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav_links>a{
        height: 6vh;
        width: 8vw;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        align-content: center;
        font-weight: 600;
        color: white;
        border: 2px solid #ff16f4;
        border-radius: 18px 18px 18px 18px;
    }
    .nav_links>a:hover{
        background-color: #ff16f4;
        color: black;
        font-weight: 600;
        box-shadow: 0px 4px 10px #ff16f4;
        transition-duration: 300ms;
    }
    .Resume{
        height: 6vh;
        width: 8vw;
        border-radius: 18px 18px 18px 18px;
        display: inline-block;
        text-align: center;
        align-content: center;
        text-decoration: none;
        border: 1px solid #ff16f4;
        background-color: #ff16f4;
        color: black;
        font-weight: 600;
    }
    .Resume:hover{
        transition-duration: 150ms;
        box-shadow: 0px 6px 10px #ff16f4;
    }
    section{
        height: 520vh;
        width: 100%;
    }
    .About{
        height: 90vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .About_img{
        height: 80vh;
        width: 30vw;
    }
    .About_img>img{
        height: 100%;
        width: 100%;
        border-radius: 100px 100px 100px 100px;
    }
    .About_info{
        height: 70vh;
        width: 40vw;
    }
    .name{
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
    .job{
        font-size: 28px;
        font-weight: 700;
        color: #ff16f4;
    }
    .info{
        height: 19vh;
        width: 100%;
    }
    .info>p{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    .profiles{
        text-align: center;
    }
    .github_link{
        font-size: 28px;
        color: white;
    }
    .linkedin_link{
        text-decoration: none;
        font-size: 28px;
        color: #5676ff;
    }
    .x_link{
        text-decoration: none;
        font-size: 28px;
        color: white;
    }
    .tech_stack{
        height: 35vh;
        align-content: center;
    }
    .tech_stack>p{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: #ff16f4;
    }
    .stack{
        height: 26vh;
        display: grid;
        place-content: center;
        gap: 4px;
        grid-template-columns: auto auto auto auto;
    }
    .stack>button{
        height: 12vh;
        width: 6vw;
        text-align: center;
        align-content: center;
        background-color: black;
        color: white;
        font-weight: 600;
        border-radius: 8px 8px 8px 8px;
    }
    .html{
        text-align: center;
        border: 2px solid orange;
    }
    .html>img{
        height: 6vh;
    }
    .html:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px orange;
    }
    .css{
        border: 2px solid blue;
    }
    .css>img{
        height: 5vh;
    }
    .css:hover{
        transition-duration: 300ms;
        box-shadow: 0px 8px 10px #2f45ff;
    }
    .javascript{
        border: 2px solid yellow;
        font-size: 12px;
    }
    .javascript>img{
        height: 6vh;
    }
    .javascript:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px #ffff00;
    }
    .bootstrap{
        border: 2px solid #ad00b1;
        font-size: 13px;
    }
    .bootstrap>img{
        height: 5vh;
    }
    .bootstrap:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px purple;
    }
    .tailwind{
        border: 2px solid lightskyblue;
        font-size: 11px;
    }
    .tailwind>img{
        height: 5vh;
    }
    .tailwind:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px lightskyblue;
    }
    .php{
        border: 2px solid plum;
    }
    .php>img{
        height: 5vh;
    }
    .php:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px plum;
    }
    .mysql{
        border: 2px solid lightskyblue;
    }
    .mysql>img{
        height: 6vh;
    }
    .mysql:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px lightskyblue;
    }
    .services{
        height: 80vh;
        width: 100%;
        align-content: center;
    }
    .services_heading{
        color: #ff16f4;
        font-weight: 700;
        text-align: center;
        font-size: 34px;
    }
    .my_offer{
        height: 60vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .the_offers{
        height: 20vh;
        width: 30vw;
        text-align: center;
        align-content: center;
        border-radius: 8px 8px 8px 8px;
    }
    .the_offers:hover{
        transition-duration: 300ms;
        box-shadow: 2px 1px 10px #ff16f4;
    }
    .the_offers>i{
        font-size: 20px;
        color: #ff16f4;
        text-align: center;
    }
    .the_offers>p{
        font-weight: 600;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    .the_offers>div{
        font-size: 13px;
        color: white;
    }
    .projects{
        height: 100vh;
        width: 100%;
        align-content: center;
    }
    .projects_heading{
        font-size: 34px;
        color: #ff16f4;
        font-weight: 700;
        text-align: center;
    }
    .projects_div{
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .projects_div>div{
        height: 67vh;
        width: 40vw;
    }
    .project_name{
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        color: #ff16f4;
    }
    .project_img{
        height: 40vh;
        width: 100%;
    }
    .project_info{
        color: white;
    }
    .project_stack{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: white;
        margin-top: 4px;
    }
    .project_stack>p{
        font-size: 13px;
    }
    .stack_heading{
        font-weight: 700;
        color: #ff16f4;
    }
    .project_links{
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;
        border: 1px solid;
    }
    .github_repo{
        height: 5vh;
        width: 10vw;
        transition-duration: 300ms;
        text-align: center;
        align-content: center;
        color: black;
        background-color: white;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 13px;
    }
    .github_repo:hover{
        border: 1px solid #b0b0b0;
        background-color: #b0b0b0;
    }
    .demo{
        background-color: #ff16f4;
        color: black;
        display: inline-block;
        width: 10vw;
        height: 5vh;
        text-decoration: none;
        text-align: center;
        align-content: center;
        border-radius: 8px 8px 8px 8px;
    }
    .demo:hover{
        transition-duration: 300ms;
        border: 1px solid purple;
        background-color: purple;
    }
    .certifications{
        height: 150vh;
        width: 100%;
    }
    .certifications_heading{
        color: #ff16f4;
        font-weight: 700;
        font-size: 34px;
        text-align: center;
    }
    .certifications_div{
        height: 140vh;
        display: grid;
        place-content: center;
    }
    .freecodecamp_cert{
        height: 120vh;
        width: 50vw;
    }
    .contacts{
        height: 60vh;
        width: 100%;
    }
    .contacts_heading{
        font-size: 34px;
        font-weight: 700;
        color: #ff16f4;
        text-align: center;
    }
    .socials{
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .connect{
        height: 20vh;
        width: 20vw;
        align-content: center;
    }
    .connect>p{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: #ff16f4;
    }
    .connect>div{
        height: 10vh;
        text-align: center;
        align-content: center;
    }
    .email_me{
        height: 20vh;
        width: 20vw;
        align-content: center;
    }
    .email_me>p{
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        color: #ff16f4;
    }
    .email_me>div{
        text-align: center;
        color: white;
    }
}
@media screen and (min-width:1200px){
    header{
        height: 16vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        height: 10vh;
        width: 80vw;
        border: 2px solid #b0b0b0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        backdrop-filter: blur(30px);
        border-radius: 28px 28px 28px 28px;
    }
    .sidenav{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .logo{
        font-size: 20px;
        font-weight: 700;
        color: white;
    }
    .nav_links{
        height: 100%;
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav_links>a{
        height: 6vh;
        width: 8vw;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        align-content: center;
        font-weight: 600;
        color: white;
        border: 2px solid #ff16f4;
        border-radius: 18px 18px 18px 18px;
    }
    .nav_links>a:hover{
        background-color: #ff16f4;
        color: black;
        font-weight: 600;
        box-shadow: 0px 4px 10px #ff16f4;
        transition-duration: 300ms;
    }
    .Resume{
        height: 6vh;
        width: 8vw;
        border-radius: 18px 18px 18px 18px;
        display: inline-block;
        text-align: center;
        align-content: center;
        text-decoration: none;
        border: 1px solid #ff16f4;
        background-color: #ff16f4;
        color: black;
        font-weight: 600;
    }
    .Resume:hover{
        transition-duration: 150ms;
        box-shadow: 0px 6px 10px #ff16f4;
    }
    section{
        height: 520vh;
        width: 100%;
    }
    .About{
        height: 90vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .About_img{
        height: 80vh;
        width: 30vw;
    }
    .About_img>img{
        height: 100%;
        width: 100%;
        border-radius: 100px 100px 100px 100px;
    }
    .About_info{
        height: 70vh;
        width: 40vw;
    }
    .name{
        font-size: 28px;
        font-weight: 700;
        color: white;
    }
    .job{
        font-size: 28px;
        font-weight: 700;
        color: #ff16f4;
    }
    .info{
        height: 19vh;
        width: 100%;
    }
    .info>p{
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    .profiles{
        text-align: center;
    }
    .github_link{
        font-size: 28px;
        color: white;
    }
    .linkedin_link{
        text-decoration: none;
        font-size: 28px;
        color: #5676ff;
    }
    .x_link{
        text-decoration: none;
        font-size: 28px;
        color: white;
    }
    .tech_stack{
        height: 35vh;
        align-content: center;
    }
    .tech_stack>p{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: #ff16f4;
    }
    .stack{
        height: 26vh;
        display: grid;
        place-content: center;
        gap: 4px;
        grid-template-columns: auto auto auto auto;
    }
    .stack>button{
        height: 12vh;
        width: 6vw;
        text-align: center;
        align-content: center;
        background-color: black;
        color: white;
        font-weight: 600;
        border-radius: 8px 8px 8px 8px;
    }
    .html{
        text-align: center;
        border: 2px solid orange;
    }
    .html>img{
        height: 6vh;
    }
    .html:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px orange;
    }
    .css{
        border: 2px solid blue;
    }
    .css>img{
        height: 5vh;
    }
    .css:hover{
        transition-duration: 300ms;
        box-shadow: 0px 8px 10px #2f45ff;
    }
    .javascript{
        border: 2px solid yellow;
        font-size: 12px;
    }
    .javascript>img{
        height: 6vh;
    }
    .javascript:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px #ffff00;
    }
    .bootstrap{
        border: 2px solid #ad00b1;
        font-size: 13px;
    }
    .bootstrap>img{
        height: 5vh;
    }
    .bootstrap:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px purple;
    }
    .tailwind{
        border: 2px solid lightskyblue;
        font-size: 11px;
    }
    .tailwind>img{
        height: 5vh;
    }
    .tailwind:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px lightskyblue;
    }
    .php{
        border: 2px solid plum;
    }
    .php>img{
        height: 5vh;
    }
    .php:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px plum;
    }
    .mysql{
        border: 2px solid lightskyblue;
    }
    .mysql>img{
        height: 6vh;
    }
    .mysql:hover{
        transition-duration: 300ms;
        box-shadow: 0px 5px 10px lightskyblue;
    }
    .services{
        height: 80vh;
        width: 100%;
        align-content: center;
    }
    .services_heading{
        color: #ff16f4;
        font-weight: 700;
        text-align: center;
        font-size: 34px;
    }
    .my_offer{
        height: 60vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .the_offers{
        height: 20vh;
        width: 30vw;
        text-align: center;
        align-content: center;
        border-radius: 8px 8px 8px 8px;
    }
    .the_offers:hover{
        transition-duration: 300ms;
        box-shadow: 2px 1px 10px #ff16f4;
    }
    .the_offers>i{
        font-size: 20px;
        color: #ff16f4;
        text-align: center;
    }
    .the_offers>p{
        font-weight: 600;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    .the_offers>div{
        font-size: 13px;
        color: white;
    }
    .projects{
        height: 100vh;
        width: 100%;
        align-content: center;
    }
    .projects_heading{
        font-size: 34px;
        color: #ff16f4;
        font-weight: 700;
        text-align: center;
    }
    .projects_div{
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .projects_div>div{
        height: 67vh;
        width: 40vw;
    }
    .project_name{
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        color: #ff16f4;
    }
    .project_img{
        height: 40vh;
        width: 100%;
    }
    .project_info{
        color: white;
    }
    .project_stack{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: white;
        margin-top: 4px;
    }
    .project_stack>p{
        font-size: 13px;
    }
    .stack_heading{
        font-weight: 700;
        color: #ff16f4;
    }
    .project_links{
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;
        border: 1px solid;
    }
    .github_repo{
        height: 5vh;
        width: 10vw;
        transition-duration: 300ms;
        text-align: center;
        align-content: center;
        color: black;
        background-color: white;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px 8px 8px 8px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 13px;
    }
    .github_repo:hover{
        border: 1px solid #b0b0b0;
        background-color: #b0b0b0;
    }
    .demo{
        background-color: #ff16f4;
        color: black;
        display: inline-block;
        width: 10vw;
        height: 5vh;
        text-decoration: none;
        text-align: center;
        align-content: center;
        border-radius: 8px 8px 8px 8px;
    }
    .demo:hover{
        transition-duration: 300ms;
        border: 1px solid purple;
        background-color: purple;
    }
    .certifications{
        height: 150vh;
        width: 100%;
    }
    .certifications_heading{
        color: #ff16f4;
        font-weight: 700;
        font-size: 34px;
        text-align: center;
    }
    .certifications_div{
        height: 140vh;
        display: grid;
        place-content: center;
    }
    .freecodecamp_cert{
        height: 120vh;
        width: 50vw;
    }
    .contacts{
        height: 60vh;
        width: 100%;
    }
    .contacts_heading{
        font-size: 34px;
        font-weight: 700;
        color: #ff16f4;
        text-align: center;
    }
    .socials{
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .connect{
        height: 20vh;
        width: 20vw;
        align-content: center;
    }
    .connect>p{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: #ff16f4;
    }
    .connect>div{
        height: 10vh;
        text-align: center;
        align-content: center;
    }
    .email_me{
        height: 20vh;
        width: 20vw;
        align-content: center;
    }
    .email_me>p{
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        color: #ff16f4;
    }
    .email_me>div{
        text-align: center;
        color: white;
    }
}